$primary-font: "SVN-Gilroy", sans-serif;
$secondary-font: "Noto Sans JP", sans-serif;

$black-color: #000000;
$black-light-color: #212121;
$text-color: #211e3b;
$red-color: #c40000;
$white-color: #ffffff;
$link-color: #007bff;
